
/* Your CSS Code here. */
.holder{
	width:220px;
	display:flex;
	flex-wrap:wrap;
	flex-direction:row;
	justify-content:center;
}
.item-3{
	width:50%;
	height:50%;
	background-color:green;
}

.item-1{
	width:50%;
	height:50%;
	background-color:red;
}
.item-2{
	width:50%;
	height:50%;
	background-color:purple;
}

